/src/com.ocbcmcd.monitoring/ocbcmcdmonitoring.war
/src/com.ocbcmcd.monitoring/WebContent/WEB-INF/lib
build/
classes/
*.war
dist/
*-service/
bin/
/installer/bin-linux-x86-32
/installer/web
/installer/bin-win-x86-32
/installer/bin-linux-x86-64
/docs/manual/File Sending Application Manual Document v1.0.0.part1.rar
/docs/manual/File Sending Application Manual Document v1.0.0.part2.rar