/src/com.ocbcmcd.monitoring/ocbcmcdmonitoring.war
/src/com.ocbcmcd.monitoring/WebContent/WEB-INF/lib
build/
classes/
*.war
dist/
*-service/
bin/
/docs/manual/UserManualSkeleton.docx
/docs/manual/File Sending Application Manual Document v1.0.0 - web and house keeping.doc