You've received this email because 

file : ${fileName} 

can't be processed successfully by server because the following reason :

${errorMessage}

the stack trace for the exception is :

${stackTrace}