/* main */
#main {
	margin: 0 20px 10px 0;
	padding: 0;
	width: 570px;
	float: right;
}

#main h1 {
	font: normal 3em Georgia, "Times New Roman", Times, serif;
	color: #111;
	padding: 0 0 5px 0;
	margin: 15px 15px 20px 15px;
	letter-spacing: -1px;
	background: url(bk_dotted.gif) repeat-x left bottom;
}

#main h1 a {
	color: #111;
	text-decoration: none;
}

#main p,#main h1,#main h2,#main h3,#main blockquote,#main form,#main table
	{
	margin-left: 0;
}

#main form p {
	margin: 15px;
}

/* footer */
#footer-wrap {
	position: relative;
	clear: both;
	padding: 2.5em 0;
	font: normal .95em 'Trebuchet MS', Tahoma, sans-serif;
	text-align: left;
	background: url(nispftbg.jpg) repeat-x 0 0;
	color: #CCC;
	width: 100%;
	float: right;
}

#footer-wrap p {
	margin-left: 0;
}

#footer-wrap h2 {
	font: bold 1.6em 'Trebuchet MS', Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #CC9933;
	margin-left: 5px;
}

#footer-content {
	margin: 0 auto;
}

#footer-content a {
	color: #C8935D;
}

#footer-content a:hover {
	color: #FFF;
	text-decoration: none;
}

#footer-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 98%;
}

#footer-content ul.columns li {
	border-bottom: 1px dashed #272727;
}

#footer-content ul.columns li.top {
	border-top: 1px dashed #272727;
}

#footer-content ul.columns li a {
	display: block;
	font-weight: normal;
	padding: 5px;
	width: 98%;
	color: #BDBDBD;
}

#footer-content ul.columns li a:hover {
	background: #202020;
	color: #FFF;
	text-decoration: none;
}

#footer-content .col {
	width: 260px;
	padding: 0 0 30px 0;
}

#footer-content .space-sep {
	margin-right: 20px;
}

#footer-content .col2 {
	width: 245px;
	padding: 0 0 30px 0;
	display: inline;
}

/* alignment classes */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

/* additional classes */
.clear {
	clear: both;
}

.orange {
	color: #F3A251;
}

.post-footer {
	font-size: 95%;
	border: 1px solid #EFEFEF;
	background: #F8F8F8;
	padding: 8px 10px;
	margin: 30px 15px 10px 15px;
}

.post-footer .date {
	background: url('clock.gif') no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

.post-footer .comments {
	background: url('comment.gif') no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

.post-footer .readmore {
	background: url('page.gif') no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

.pagingItem {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #eeeeee;
	border: 1px solid #bababa;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagingItemCurrent {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #bfbfbf;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
}